<div id="sidebar">
            
        <h2>★PV数ランキング</h2>
        <ul>
			<%count=0%>
			<!%= @ids_inv.inspect%>
			<!%= @tag.inspect%>
			<%if @flag%> 
            <%@pages.each do |f|%>
            <li>
				<!%=count%>
                <%=link_to f.title,page_path(f.id)%><%="("+@ids_inv[1][count].to_i.to_s+"PV"+")"%>
				<%count+=1%>
            </li>
            <%end%>
			<%end%>

        </ul>
    </div>
    <div class="clear"></div>
</div>

