<html>
<head lang="ja">
    <meta charset="UTF-8">
	    <title>Rails Camp Blog</title>
		    <link rel="stylesheet" href="style.css" type="text/css" media="screen">
			</head>
			<body>

			<header>
			    <p id="logo"><a href="">RailsCamp<span>Blog</span></a></p>

			</header>
</body>


</html>
